<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.AttrDAO">

	<!-- popup에 모든 attr 리스트 가져오기 (attr_id를 받았다면 맞는 값 가져오기) -->
    <select id="selectAttrList" resultType="com.example.domain.AttrVO">
        SELECT *
        FROM ATTR
        <where>
	        <if test="attr_id != null">
	            AND attr_id = #{attr_id}
	        </if>
	    </where>
    </select>
    
    <!-- attr_id로 attr 리스트 가져오기 -->
    <select id="selectAttrListById" resultType="com.example.domain.AttrVO">
        SELECT attr_id, attr_name, attr_local, attr_lat, attr_lon
        FROM ATTR
        WHERE attr_id = #{attd_id}
    </select>
    
    <!-- 검색어를 이용한 명소 검색 -->
    <select id="searchAttrByKeyword" resultType="com.example.domain.AttrVO">
	    SELECT * FROM attr
	    WHERE attr_name LIKE CONCAT(CONCAT('%', #{keyword}), '%')
	       OR attr_local LIKE CONCAT(CONCAT('%', #{keyword}), '%')
	</select>
	
	<!-- 명소 정보 가져오기 -->
    <select id="selectAttrInfo" resultType="com.example.domain.AttrVO">
	    SELECT * 
	    FROM attr
	    WHERE attr_id = #{attr_id}
	</select>
    
</mapper>