<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.AttrDAO">

    <select id="selectAttrList" resultType="com.example.domain.AttrVO">
        SELECT *
        FROM ATTR
        <where>
	        <if test="attr_id != null">
	            AND attr_id = #{attr_id}
	        </if>
	    </where>
    </select>
    
    <select id="selectAttrListById" resultType="com.example.domain.AttrVO">
        SELECT *
        FROM ATTR
        WHERE attr_id = #{attd_id}
    </select>
    
</mapper>