<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.BoardDAO">

	<select id="getBoardList" resultType="BoardVO">
	
		SELECT *
		FROM BOARD2
		ORDER BY SEQ DESC

	</select>
	
	<select id="getBoard" parameterType="BoardVO" resultType="hashMap">
		SELECT 
			b.seq						seq 
			, b.title 					title
			, b.writer 					writer
			, b.star					star
			, b.content					content 
			, b.regdate 				regdate
			, b.cnt 					cnt
			, b.good					good
			, b.bad						bad
			, b.id						id
			, bf.originFilename 	originFilename
			, bf.filename 				filename
		FROM  board2 b LEFT OUTER JOIN board_file bf 
		ON 	  b.fileid = bf.fileid 
		WHERE b.seq = #{seq}
	</select>
	
	<insert id="insertBoard" parameterType="BoardVO">
		INSERT INTO BOARD2
		( TITLE, WRITER, CONTENT, REGDATE, CNT, STAR
			<if test='#{fileid} !=null'>
				, fileid
			</if>
		)
		VALUES
		( #{title}, #{writer}, #{content}, now(), 0, #{star}
			<if test='#{fileid} !=null'>
				, #{fileid}
			</if>
		)
	</insert>
	
	<update id="updateBoard" parameterType="BoardVO">
		UPDATE BOARD2 SET
		TITLE = #{title},
		CONTENT = #{content}
		WHERE SEQ = #{seq}
	</update>
	
	<delete id="deleteBoard" parameterType="BoardVO">
		DELETE FROM BOARD2
		WHERE SEQ = #{seq}
	</delete>
	
	<update id="incrementViewCount" parameterType="BoardVO">
        UPDATE BOARD2
        SET CNT = CNT + 1
        WHERE SEQ = #{seq}
    </update>
    
</mapper>
