<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="HateDAO">
	
	<select id="getHateStatus" parameterType="map" resultType="int">
        SELECT status
        FROM hate
        WHERE bno = #{bno} AND id = #{id}
    </select>

    <insert id="insertHate" parameterType="HateVO">
        INSERT INTO hate (bno, id, status)
        VALUES (#{bno}, #{id}, #{status})
    </insert>

    <update id="updateHate" parameterType="HateVO">
        UPDATE hate
        SET status = #{status}
        WHERE bno = #{bno} AND id = #{id}
    </update>

    <delete id="deleteHate" parameterType="map">
        DELETE FROM hate
        WHERE bno = #{bno} AND id = #{id}
    </delete>

    <select id="countHates" parameterType="int" resultType="int">
        SELECT COUNT(*)
        FROM hate
        WHERE bno = #{bno}
    </select>
	
	<select id="existsById" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM member1
        WHERE id = #{id}
    </select>
</mapper>