<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="HateDAO">
   
   <select id="getHateStatus" parameterType="map" resultType="int">
        SELECT hate_state
        FROM hate
        WHERE review_id = #{review_id} AND member_email = #{member_email}
        AND ROWNUM = 1
    </select> 

    <insert id="insertHate" parameterType="HateVO">
        INSERT INTO hate (hate_id, review_id, member_email, hate_state)
        VALUES (hate_id_seq.NEXTVAL, #{review_id}, #{member_email}, #{hate_state})
    </insert>

    <update id="updateHate" parameterType="HateVO">
        UPDATE hate
        SET hate_state = #{hate_state}
        WHERE review_id = #{review_id} AND member_email = #{member_email}
    </update>

    <delete id="deleteHate" parameterType="map">
        DELETE FROM hate
        WHERE review_id = #{review_id} AND member_email = #{member_email}
    </delete>

    <select id="countHates" parameterType="int" resultType="int">
        SELECT COUNT(*)
        FROM hate
        WHERE review_id = #{review_id}
    </select>
   
   <select id="existsById" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM member
        WHERE member_email = #{member_email}
    </select>
</mapper>