<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LikeDAO">
   
    <select id="getLikeStatus" parameterType="map" resultType="int">
        SELECT like_state
        FROM likes
        WHERE review_id = #{review_id} AND member_email = #{member_email}
        AND ROWNUM = 1
    </select>

    <insert id="insertLike" parameterType="LikeVO">
        INSERT INTO likes (like_id, review_id, member_email, like_state)
        VALUES (like_id_seq.NEXTVAL, #{review_id}, #{member_email}, #{like_state})
    </insert>

    <update id="updateLike" parameterType="LikeVO">
        UPDATE likes
        SET like_state = #{like_state}
        WHERE review_id = #{review_id} AND member_email = #{member_email}
    </update>

    <delete id="deleteLike" parameterType="map">
        DELETE FROM likes
        WHERE review_id = #{review_id} AND member_email = #{member_email}
    </delete>

    <select id="countLikes" parameterType="int" resultType="int">
        SELECT COUNT(*)
        FROM likes
        WHERE review_id = #{review_id}
    </select>
   
   <select id="existsById" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM member
        WHERE member_email = #{member_email}
    </select>
</mapper>
