<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.LocalDAO">

<select id="getLocalById" parameterType="int"
resultType="com.example.domain.LocalVO">
	SELECT local_id,
		 	local_name,
		 	local_content,
		 	local_image
	FROM 	location
	WHERE local_id = #{local_id}
</select>

<select id="getAllLocals" resultType="com.example.domain.LocalVO">
	SELECT local_id, 
			local_name,
			local_content,
			local_image
	FROM	location		



</select>





</mapper>