<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.LoginDAO">
<insert id="registForm" parameterType="com.example.domain.LoginVO">
    INSERT INTO MEMBER (MEMBER_EMAIL, MEMBER_PASS,MEMBER_BIRTH,MEMBER_GENDER,MEMBER_NICKNAME
    ,MEMBER_REGDATE,MEMBER_REVIEW
    )  
    VALUES (
        #{member_email, jdbcType=VARCHAR},
        #{member_pass, jdbcType=VARCHAR},
        #{member_birth, jdbcType=DATE},
        #{member_gender,  jdbcType=CHAR},
        #{member_nickname, jdbcType=VARCHAR},
        SYSDATE,
        0
  
)
</insert> 

<insert	id="kakaoinsert" parameterType="HashMap">
INSERT INTO MEMBER
(
MEMBER_EMAIL,MEMBER_NICKNAME
) 
VALUES(
    #{member_email, jdbcType=VARCHAR},
    #{member_nickname, jdbcType=VARCHAR}
   )

</insert>

<!-- com.example.dao.LoginDAO.saveKakaoMember 매핑 -->
<insert id="saveKakaoMember" parameterType="map">
    INSERT INTO MEMBER (MEMBER_EMAIL, MEMBER_NICKNAME)
    VALUES (
    #{member_email},
    #{member_nickname}
    )
</insert>



<select	id="findkakao" resultType="com.example.domain.LoginVO" parameterType="HashMap">
	SELECT *
	FROM MEMBER
	WHERE member_email=#{member_email}
	AND member_nickname=#{member_nickname} 

</select>

   <!-- 회원 로그인 확인 -->  
<select id="checkLogin" parameterType="com.example.domain.LoginVO" resultType="com.example.domain.LoginVO">
	SELECT *
    FROM MEMBER
  	WHERE member_email=#{member_email}
</select>


<update id="updateForm" parameterType="com.example.domain.LoginVO">
    UPDATE MEMBER
    SET member_email=#{member_email},
        member_pass=#{member_pass},
        member_nickname=#{member_nickname}
 	WHERE member_email=#{member_email}
	</update>
	
<delete id="deleteForm" parameterType="String">
    DELETE FROM MEMBER
    WHERE member_email=#{member_email}
</delete>
</mapper>