<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.MyPageDAO">

	<!-- myPage 내 정보 -->
	<select id="selectMyInfo" resultType="hashmap">
		SELECT  member_email, member_pass, member_gender, member_nickname, TO_CHAR(member_birth, 'YYYY-MM-DD') AS member_birth, TO_CHAR(member_regdate, 'YYYY-MM-DD') AS member_regdate, member_review
        FROM 	member
        WHERE	member_email = #{user_id}
	</select>
	
	<!-- myPage 내 정보 수정 -->
	<update id="modifyMyInfo">
		UPDATE member
		SET
		    member_pass = #{pass},
		    member_nickname = #{nickname},
		    member_birth = TO_DATE(#{birth}, 'YYYY-MM-DD')
		WHERE
		    member_email = #{user_id}
	</update>
	
	<!-- myPage 나의 일정 -->
	<select id="selectPlanList" resultType="hashmap">
		SELECT 	DISTINCT ti.info_id info_id, ti.info_name info_name, ti.member_email member_email, ti.trip_place trip_place, ti.start_date start_date, ti.end_date end_date
        FROM   	travel_info ti JOIN travel_plan tp
        ON     	tp.info_id = ti.info_id
        WHERE  	ti.member_email = #{user_id}
        ORDER BY 	ti.info_id DESC
	</select>
	
	<!-- myPage 나의 후기 -->
	<select id="selectReviewList" resultType="hashmap">
		SELECT 	*
        FROM   	review
        WHERE  	member_email = #{user_id}
        ORDER BY	review_regdate DESC
	</select>
	
	<!-- myPage 나의 신고 -->
	<select id="selectReportList" resultType="hashmap">
		SELECT 	rv.member_email rv_member_email, rv.review_title review_title, rv.review_content review_content,
				c.member_email c_member_email, c.comment_content comment_content,
				rp.member_email rp_member_email, rp.reply_content reply_content,
				r.report_id report_id, r.category category, r.report_regdate report_regdate, r.report_type report_type
        FROM   	report r 
        LEFT JOIN 	review rv 	ON 	r.review_id  = rv.review_id
        LEFT JOIN	comments c 	ON 	r.comment_id = c.comment_id
        LEFT JOIN 	reply rp 	ON 	r.reply_id   = rp.reply_id
        WHERE  	r.member_email = #{user_id}
        ORDER BY	r.report_id DESC
	</select>
	
	<!-- 신고한 게시글로 이동 -->
	<select id="selectReport" resultType="int">
		SELECT 	review_id
        FROM   	report
        WHERE  	report_id = #{report_id}
	</select>
</mapper>