<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.MyPlanDAO">
	
	<!-- plan_id로 plan 가져옴 -->
	<select id="selectMyPlan" resultType="hashmap">
		SELECT tp.plan_day plan_day, tp.plan_seq plan_seq, a.attr_name attr_name
		FROM travel_info ti
		JOIN travel_plan tp ON ti.info_id = tp.info_id
		JOIN attr a ON tp.attr_id = a.attr_id
        WHERE  ti.info_id = #{info_id}
	</select>
	
</mapper>