<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.MyPlanDAO">
	
	<!-- plan_id로 plan 가져옴 -->
	<select id="selectMyPlan" resultType="hashmap">
		SELECT	tp.plan_id plan_id, tp.plan_day plan_day, tp.plan_seq plan_seq, 
				ti.info_id info_id, ti.info_name info_name, ti.trip_place trip_place, ti.start_date start_date, ti.end_date end_date,
				a.attr_id attr_id, a.attr_name attr_name, a.attr_lat attr_lat, a.attr_lon attr_lon
        FROM 	travel_plan tp
        JOIN	travel_info ti	ON tp.info_id = ti.info_id
        JOIN  	attr a 			ON tp.attr_id = a.attr_id
        WHERE  	tp.info_id = #{infoId}
        ORDER BY  	tp.plan_day, tp.plan_seq
	</select>
	
</mapper>