<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.example.dao.PlanDAO">

	<insert id="insertPlan" parameterType="java.util.List">
	    INSERT INTO ATTR (attr_id, attr_name, info_title, info_content)
	    VALUES
	    <foreach collection="list" item="item" separator=",">
	        (#{item.attr_id}, #{item.attr_name}, #{item.info_title}, #{item.info_content})
	    </foreach>
	</insert>
	
	<select id="selectAttrList" parameterType="com.example.domain.PlanVO" resultType="com.example.domain.PlanVO">
		SELECT *
		FROM ATTR
		<!-- <where>
            attrId 리스트가 주어진 경우에만 조건 추가
            <if test="attrIds != null and !attrIds.isEmpty()">
                AND attr_id IN
                <foreach item="id" collection="attrIds" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where> -->
	</select> 

</mapper>
