<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.PlanDAO">
    <select id="selectAttrList" resultType="com.example.domain.PlanVO">
        SELECT *
        FROM ATTR
    </select> 

    <insert id="insertPlanItem">
	    INSERT INTO plan (plan_id, plan_day, attr_id)
	    VALUES (plan_seq.NEXTVAL, #{day}, #{attrId})
	</insert>
	
	<select id="selectInsertedPlan" resultType="com.example.domain.PlanVO">
	    SELECT * FROM (
	        SELECT p.plan_id, p.plan_day, p.attr_id, a.attr_name, a.attr_tag
	        FROM plan p
	        JOIN ATTR a ON p.attr_id = a.attr_id
	        WHERE p.plan_day = #{day} AND p.attr_id = #{attrId}
	        ORDER BY p.plan_id DESC
	    )
	    WHERE ROWNUM = 1
	</select>
</mapper>