<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReplyDAO">

	<insert id="insertReply" parameterType="ReplyVO">
		INSERT INTO reply2(bno, reply, replyer, replydate)
		VALUES(#{bno}, #{reply}, #{replyer}, sysdate())
		<!-- 오라클
		INSERT INTO reply(rno, bno, reply, replyer, replydate)
		VALUES(reply_seq.nextval, #{bno}, #{reply}, #{replyer}, sysdate) -->
	</insert>

	<select id='selectAllReply' parameterType='int' resultType='ReplyVO'>
		SELECT * FROM reply2 WHERE bno=#{bno}
	</select>
	
	<delete id='deleteReply' parameterType='int'>
		DELETE FROM reply2 WHERE rno=#{rno}
	</delete>
	
	<update id="updateReply" parameterType="ReplyVO">
		UPDATE REPLY2 SET
		REPLY = #{reply}
		WHERE RNO = #{rno}
	</update>
</mapper>