<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReportDAO">

	<insert id="insertReport" parameterType="ReportVO">
		INSERT INTO "report"("member_emaile", "report_content", "report_type", "report_regdate", "review_id", "comment_id", "reply_id")
		VALUES(#{member_emaile}, #{report_content}, #{report_type},sysdate(), #{review_id}, IFNULL(#{comment_id},NULL), IFNULL(#{reply_id},NULL))
	</insert>
	
</mapper>