<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReportDAO">

	<insert id="insertReport" parameterType="ReportVO">
		INSERT INTO report
		(report_id, review_id, comment_id, reply_id, member_email,
		 report_state, report_type, report_content, report_regdate)
		  
		VALUES(
		report_id_seq.NEXTVAL, 
		#{review_id},
		<if test="comment_id != null">
			#{comment_id}
		</if>
		<if test="comment_id == null">
			NULL
		</if>,
		<if test="comment_id != null">
			#{reply_id}
		</if>
		<if test="comment_id == null">
			NULL
		</if>, 
		#{member_email}, 'N', #{report_type}, #{report_content}, 
		SYSDATE)
	</insert>
	
</mapper>