<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.ReviewFileDAO">

	<!-- board_file에 입력 -->
	<insert id="insertFile" parameterType="ReviewFileVO">
		insert into review_img
		(
			review_fileid
			, origin_file_name
			, file_name
			, file_path
		)
		values(
			review_img_fileid_seq.NEXTVAL
			, #{origin_file_name}
			, #{file_name}
			, #{file_path}
		)
	</insert>
	
	<!-- board_file에서 키값 검색 -->
	<select id="selectFile" parameterType="ReviewFileVO" resultType="ReviewFileVO">
		SELECT *
		FROM review_img
		WHERE review_fileid=#{review_fileid}
	</select>
	
	<!-- 최신 자동증가수 값을 얻어온다면 -->
	<select id="selectId" resultType="int">
		SELECT review_fileid
		FROM (
				SELECT review_fileid
				FROM review_img
				ORDER BY review_fileid desc
			 )
		WHERE ROWNUM = 1
	</select>
</mapper>