<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.TravelInfoDAO">

	<!-- travel_info 테이블에 일정 넣기 -->
    <insert id="insertTravelInfo">
	    INSERT INTO travel_info (info_id, member_email, info_name, trip_place, start_date, end_date, who_tag, style_tag)
	    VALUES (info_id_seq.NEXTVAL, 'dkthnt06@gmail.com', #{info_name}, #{trip_place}, #{start_date}, #{end_date}, #{who_tag}, #{style_tag})
	</insert>
	
	<!-- info_id 가져오기 -->
	<select id='selectTravelInfo' resultType='string'>
		SELECT info_id_seq.currval FROM DUAL
	</select>
	
</mapper>