<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.UserDAO">

	<select id="getMemberList" resultType="UserVO">
		SELECT *
		FROM member
		ORDER BY member_email DESC
	</select>
	
	<insert id="insertMember" parameterType="UserVO">
		INSERT INTO member( member_email, member_pass, member_nickname,member_birth,
		member_gender,member_regdate,member_review)
		VALUES( #{member_email}, #{member_pass}, #{member_nickname},TO_DATE('19980622', 'YYYY-MM-DD'),'M', SYSDATE,0)
	</insert>
	
	<select id="getMember" parameterType="UserVO" resultType="UserVO">
		SELECT *
		FROM member
		WHERE member_email=#{member_email}
	</select>
	
	<update id="updateMember" parameterType="UserVO">
		UPDATE member SET
		member_pass = #{member_pass},
		member_nickname = #{member_nickname}
		WHERE member_email=#{member_email}
	</update>
	
	<delete id="deleteMember" parameterType="UserVO">
		DELETE FROM member
		WHERE member_email=#{member_email}
	</delete>
	
	<!-- 로그인 -->
	<select id="checkLogin" parameterType="UserVO"
			resultType="MemberVO">
		SELECT *
		FROM member
		WHERE member_email=#{member_email} AND member_pass = #{member_pass}
	</select>
	
</mapper>
