<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.WeatherDAO">

	<!-- popup에 모든 attr 리스트 가져오기 (attr_id를 받았다면 맞는 값 가져오기) -->
    <select id="weather" resultType="hashmap">
        SELECT 	*
        FROM	weather
        WHERE	weather_date = #{date} AND weather_local = #{local}
    </select>
    
</mapper>