:root {
    --primary--color: #ff6364;
    --black--color: #000000;
    --secondary--color: #ffffff;
    --text-color: #5e5e5e;
    --bg-color: #fff5f4;
    --pink-family-color: #ffcece;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.about-banner {
    background: url(../images/about-banner-img.jpg) no-repeat center;
    background-size: cover;
}

.shop-pages-banner {
    padding: 187px 0 125px;
}

.shop-box {
    gap: 30px;
    display: grid;
    justify-content: center;
    grid-template-columns: 19.6% 19.6% 19.6% 19.6%;
}

.shop-price {
    font-size: 16px;
    line-height: 16px;
}

.shop-price span {
    color: var(--primary--color);
}

.new-lable {
    color: var(--secondary--color);
    background: var(--green-color);
}

.Hot-lable {
    color: var(--secondary--color);
    background: var(--black--color);
}

.pagination-con .page-link {
    margin: 0 15px;
    font-size: 16px;
    background: transparent;
    border-radius: 0 !important;
    color: var(--black--color);
}

.pagination-con .page-link:hover,
.pagination-con .page-link.active {
    color: var(--secondary--color);
    border-color: var(--primary--color);
    background: var(--primary--color);
}

.pagination-con .page-link:focus {
    box-shadow: none;
}

.shop-box-cart {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgb(247 162 17 / 85%);
    height: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    transition: all 0.4s ease-in-out;
}

.shop-box-cart ul {
    top: 15px;
    right: 15px;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
}

.shop-box-img .generic-btn {
    opacity: 0;
    margin-top: auto;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    position: absolute;
    bottom: 20px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.shop-box-img .generic-btn a {
    width: 100%;
    text-align: center;
    background: #fff;
    color: var(--black--color);
    border-radius: 5px;
    padding: 16px 10px;
    font-size: 16px;
    line-height: 16px;
}

.main-shop-page {
    margin-bottom: 50px;
}

.shop-box-img>figure img {
    width: 100%;
}

body.show-sidebar-cart {
    height: 100% !important;
}

body.show-sidebar-cart #sidebar-cart {
    right: 0;
    visibility: visible;
}

#sidebar-cart {
    background: #fff;
    color: #75757a;
    padding: 15px 15px 0 15px;
    position: fixed;
    display: block;
    width: 350px;
    height: 100vh;
    z-index: 9999;
    top: 0;
    right: -370px;
    box-shadow: -10px 0 15px rgba(0, 0, 0, 0.1);
    transition: right 0.5s ease-in-out;
}

#sidebar-cart a.close-button {
    text-decoration: none;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
}

#sidebar-cart a.close-button span.close-icon i {
    font-size: 20px;
    transition: all 0.5s linear;
    color: var(--black--color);
}

#sidebar-cart a.close-button:active span.close-icon i,
#sidebar-cart a.close-button:hover span.close-icon img,
.sidebar-cart-product .remove-product i:hover,
#sidebar-cart a.close-button span.close-icon i:hover {
    color: var(--primary--color);
}

#sidebar-cart h6 {
    margin: 40px 0 40px;
    color: var(--black--color);
}

#sidebar-cart div.totals div.subtotal,
#sidebar-cart div.totals div.shipping,
#sidebar-cart div.totals div.tax {
    padding: 15px 0;
    text-align: center;
    color: var(--black--color);
    font-size: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#sidebar-cart div.totals div.subtotal span.amount,
#sidebar-cart div.totals div.shipping span.amount,
#sidebar-cart div.totals div.tax span.amount {
    color: var(--primary--color);
    margin-left: 10px;
    font-weight: 600;
}

#sidebar-cart-curtain {
    background: rgb(0 0 0 / 38%);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.sidebar-cart-product {
    display: grid;
    grid-template-columns: 24% 59% 5%;
    gap: 20px;
    align-items: center;
}

.sidebar-cart-product .product-title {
    font-size: 16px;
    line-height: 20px;
    color: var(--black--color);
    font-weight: 600;
}

.sidebar-cart-product .product-price {
    font-size: 14px;
    color: var(--primary--color);
    display: inline-block;
}

.sidebar-cart-product .product-line-price {
    font-size: 14px;
    display: inline-block;
    text-decoration: line-through;
}

span.label {
    font-weight: 600;
}

.sidebar-cart-product .remove-product {
    border: none;
    background: transparent;
}

.sidebar-cart-product .remove-product i {
    top: -32px;
    font-size: 14px;
    line-height: 45px;
    position: relative;
    color: var(--black--color);
    cursor: pointer;
}

.sidebar-cart-product .remove-product i:focus-visible,
.sidebar-cart-product button.remove-product:focus-visible {
    outline: none;
    border: none;
    box-shadow: none;
}

#sidebar-cart ul li .sidebar-cart-product {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(26 24 25 / 15%);
}

#sidebar-cart ul li:last-child .sidebar-cart-product {
    margin-bottom: 0;
}

#sidebar-cart .generic-btn a {
    font-size: 14px;
    line-height: 14px;
    padding: 16px 26px 18px;
    width: 100%;
    text-align: center;
}

#sidebar-cart .generic-btn a:hover {
    background: transparent;
    color: var(--black--color);
    box-shadow: inset 0 0 0px 2px var(--black--color);
}

#sidebar-cart .generic-btn:last-child {
    margin-top: 20px;
}

.shop-box-cart ul li {
    margin-bottom: 5px;
}

.shop-box-cart ul li a i {
    width: 30px;
    height: 30px;
    display: flex;
    font-size: 12px;
    line-height: 12px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: var(--secondary--color);
    border: 1px solid var(--secondary--color);
}

.shop-box-img:hover .shop-box-cart {
    height: 100%;
    padding: 20px;
}

.shop-box-img:hover .shop-box-cart ul,
.shop-box-img:hover .generic-btn {
    opacity: 1;
    visibility: visible;
}

.shop-box-cart ul li a {
    text-decoration: none;
}

.shop-box-img .generic-btn a:hover {
    box-shadow: none;
    background: var(--black--color);
    color: #fff;
}

.sale-lable {
    color: var(--secondary--color);
    background: var(--primary--color);
}

.shop-label {
    text-transform: uppercase;
    padding: 4px 8px 4px 9px;
    margin-left: 10px;
    margin-top: 10px;
    z-index: 2;
    top: 0;
    position: absolute;
    left: 0;
    font-size: 12px;
    line-height: 12px;
    transition: all 0.5s ease-in-out;
}

.shop-box-img {
    position: relative;
    margin-bottom: 14px;
}

.shop-box-details figure {
    margin-bottom: 6px;
}

.shop-box-details h6 {
    margin-bottom: 10px;
    color: var(--black--color);
}

.cart-box {
    gap: 27px;
    display: grid;
    grid-template-columns: 72.6% 25%;
}

/* .checkout-section {
    background: linear-gradient(to right, rgb(254 243 234 / 43%) 10%, rgb(237 255 254 / 43%) 93%);
} */

.shopping-cart {
    width: 100%;
    float: left;
    padding: 38px 40px;
    background: #fff;
    border: 1px solid rgb(26 24 25 / 15%);
}

.column-labels {
    width: 100%;
    float: left;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(26 24 25 / 15%);
}

.shopping-cart-info {
    width: 100%;
    float: left;
}

.cart-section .column-labels label {
    padding-bottom: 15px;
    color: var(--black--color);
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}

.cart-section .column-labels .product-image {
    text-indent: -9999px;
}

.cart-section .product-image {
    float: left;
    width: 16%;
}

.cart-section .product-removal {
    width: 5%;
    float: left;
}

.cart-section .product .product-image img {
    width: 100px;
    transition: all 0.3s ease-in-out;
}

.cart-section .product-details {
    float: left;
    width: 30%;
}

.cart-section .product-price {
    float: left;
    width: 20%;
}

.cart-section .product-quantity {
    float: left;
    width: 16%;
}

.cart-section .product .product-details .product-title {
    margin-right: 60px;
    font-weight: 500;
    color: var(--black--color);
    font-size: 17px;
    line-height: 25px;
}

.cart-section .product-line-price {
    float: left;
    width: 12%;
    text-align: right;
}

.cart-section .product {
    margin-bottom: 20px;
    padding-bottom: 15px;
    width: 100%;
    float: left;
    border-bottom: 1px solid rgb(26 24 25 / 15%);
}

.cart-section .product .remove-product {
    border: 0;
    color: var(--text-color);
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    background: transparent;
}

.cart-section .product-price {
    float: left;
    width: 20%;
    font-size: 18px;
}

.product-qty-details {
    display: flex;
    color: #000;
    font-size: 16px;
    border: 1px solid rgb(255 99 100 / 75%);
    align-items: center;
    width: 90px;
    justify-content: center;
    padding: 4px 10px 4px 10px;
}

.product-qty-details button {
    background: transparent;
    border: none;
}

.check-out-form .form-group input:focus {
    box-shadow: none;
    border-color: var(--primary--color);
}

.cart-total-box .generic-btn a:hover {
    background: var(--primary--color);
}

.product-qty-details button:focus {
    outline: none;
}

.product-qty-details .number {
    margin: 0 6px 0 10px;
    color: var(--black--color);
}

.cart-section .product-line-price {
    font-size: 18px;
    color: var(--black--color);
}

.shopping-cart-info .product:last-child {
    padding: 0;
    margin: 0;
    border: 0;
}

.cart-total-box {
    padding: 38px 30px;
    background: #fff;
    border: 1px solid rgb(26 24 25 / 15%);
}

.cart-total-box ul {
    margin-bottom: 30px;
}

.cart-total-box ul li {
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(26 24 25 / 15%);
}

.cart-total-box ul li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
}

.total-price {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: var(--black--color);
}

.cart-total-box .generic-btn a {
    font-size: 14px;
    line-height: 14px;
    padding: 20px 22px;
    width: 100%;
    text-align: center;
}

.cart-section .product .remove-product i {
    color: var(--primary--color);
}

.product-detail {
    padding: 130px 0 100px;
}

.product-detail-tab,
.product-detail-content {
    padding: 30px;
    border: 1px solid rgb(26 24 25 / 15%);
}

.product-detail-info-box .nav-pills .nav-link {
    padding: 0;
    color: var(--black--color);
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;

}

.product-detail-outer {
    gap: 30px;
    display: grid;
    grid-template-columns: 51% 46.4%;
    border-bottom: 1px solid rgb(26 24 25 / 15%);
    padding-bottom: 100px;
}

.product-detail-tab .nav-pills .nav-link {
    padding: 0;
    margin-bottom: 13px;
    border-radius: 0;
}

.product-detail-tab .nav-pills .nav-link figure img {
    width: 100px;
    height: 93px;
}

.product-detail-tab .nav-pills .nav-link.active {
    border: 1px solid var(--primary--color);
}

.product-detail-tab div#v-pills-tabContent figure img {
    height: 100%;
    object-fit: cover;
}

.stock-label {
    text-transform: uppercase;
    padding: 4px 8px 4px 9px;
    transition: all 0.5s ease-in-out;
    background: var(--black--color);
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    color: #ffff;
    margin-bottom: 26px;
}

.product-detail-content .add-whish a {
    text-decoration: none;
}

.product-detail-content .add-whish a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--black--color);
    font-size: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-detail-content .add-whish a:hover {
    background-color: var(--primary--color);
}

.product-detail-content .add-whish {
    right: 31px;
    position: absolute;
}

.product-detail-content {
    position: relative;
}

.product-detail-content h4 {
    margin-bottom: 14px;
    color: var(--black--color);
    line-height: 28px;
    padding-right: 42px;
}

.stock-rating-star span {
    font-size: 14px;
    color: var(--black--color);
    line-height: 14px;
    display: inline-block;
    padding-left: 12px;
    font-weight: 600;
    position: relative;
    top: 2px;
}

.stock-rating-star {
    display: flex;
    align-items: center;
}

.stock-rating-tag {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

.stock-value {
    font-size: 16px;
    margin-bottom: 10px;
}

.stock-price {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(26 24 25 / 15%);
    font-weight: 600;
    font-family: "Jost", sans-serif;

}

.stock-price {
    color: var(--primary--color);
}

.stock-price span {
    text-decoration: line-through;
    color: #b2b3b4;
    display: inline-block;
    padding-right: 8px;
    font-size: 30px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
}

.product-detail-content p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
}

.product-detail-content .quatity_button_wrapper,
.product-detail-banner-outer .quatity_button_wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

.product-detail-banner-outer .quatity_button_wrapper {
    gap: 15px;
}

.product-detail-content .quantity-field,
.product-detail-banner-outer .quantity-field {
    display: flex;
    border: 1px solid rgb(26 24 25 / 15%);
    padding: 12px 20px;
    width: 106px;
}

.product-detail-content .number,
.product-detail-banner-outer .number {
    font-size: 20px;
    line-height: 18px;
    padding: 0 20px;
    font-weight: 500;
}

.product-detail-content .quantity-field button,
.product-detail-banner-outer .quantity-field button {
    background: transparent;
    border: none;
    font-size: 20px;
    line-height: 18px;
}

.product-detail-content .quantity-field button:focus,
.product-detail-banner-outer .quantity-field button:focus,
.btn-outer button:focus {
    outline: none;
}

.btn-outer button:focus {
    border: 0;
}

.product-detail-content .quatity_button_wrapper a {
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    display: inline-block;
    text-decoration: none;
    color: var(--secondary--color);
    padding: 16px 34px;
    background: var(--black--color);
}

.product-detail-content .quatity_button_wrapper a:hover {
    background-color: var(--primary--color);
}

.product-code {
    font-size: 16px;
    margin-bottom: 20px;
}

.product-detail-content .social-icon span {
    display: inline-block;
    font-size: 16px;
    line-height: 38px;
    color: #000;
    margin-right: 10px;
}

.product-detail-content .social-icon {
    display: flex;
}

.product-detail-content .social-icon ul {
    gap: 11px;
    display: flex;
}

.product-detail-content .social-icon ul li a {
    text-decoration: none;
}

.product-detail-content .social-icon ul li a i {
    width: 36px;
    height: 36px;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    color: var(--secondary--color);
    background-color: var(--primary--color);
    transition: all 0.5s ease-in-out;
    /* border: 1px solid var(--text-color); */
}

.product-arrow {
    right: 30px;
    bottom: 22px;
    position: absolute;
}

.product-arrow a {
    text-decoration: none;
}

.product-arrow a i,
.post-arrow i {
    font-size: 14px;
    color: var(--black--color);
}

.product-detail-info-box {
    /* padding: 50px;
    background: var(--secondary--color);
    box-shadow: 0 0 100px rgb(0 0 0 / 5%); */
}

.product-arrow a:first-child {
    margin-right: 10px;
}

.product-detail-tab #v-pills-tab {
    margin-right: 30px;
}

#v-pills-tabContent figure img {
    height: 500px;
    object-fit: cover;
}

.product-detail-info-box #pills-tab {
    gap: 30px;
    margin-bottom: 35px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(26 24 25 / 15%);
}

.product-detail-info-box #pills-tab li button {
    padding: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: var(--text-color);
}

.product-detail-info-box .nav-pills .nav-link.active {
    color: var(--primary--color) !important;
    background: transparent;
    position: relative;
}

.product-detail-info-box .nav-pills .nav-link.active::before {
    left: 0;
    bottom: -22px;
    width: 100%;
    height: 3px;
    content: '';
    position: absolute;
    background: var(--primary--color);
}

.product-detail-info-box .tab-pane p {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 15px;
}

.product-detail-info-box .tab-pane>figure img {
    margin-bottom: 25px;
    width: 60%;
}

.review-con {
    border: 1px solid #ddd;
    padding: 30px 40px;
}

.review-client-box {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.review-client-box>figure img {
    width: 100%;
}

.review-client-box>figure {
    width: 20%;
}

.review-client-content {
    border: 1px solid #ddd;
    padding: 10px 20px;
    position: relative;
    border-radius: 3px;
}

.review-client-content:before {
    background: var(--secondary--color);
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    content: "";
    display: block;
    height: 10px;
    left: -6px;
    position: absolute;
    top: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 10px;
}

.review-title-date .title {
    font-size: 18px;
    font-weight: 500;
    color: var(--black--color) !important;
}

.review-title-date span {
    font-weight: 300;
    font-size: 14px;
    padding-left: 10px;
}

.rating_wrap .rating-title {
    font-size: 18px;
    font-weight: 500;
    color: var(--black--color);
}

.rating_wrap .rating-sub-title {
    font-size: 16px;
    font-weight: 500;
}

.review-form-box ul {
    gap: 10px 20px;
    display: grid;
    margin-bottom: 20px;
    grid-template-columns: 48.5% 48.5%;
}

.review-form-box ul li input,
.review-form-box ul li textarea {
    width: 100%;
    padding: 5px 10px;
    background: transparent;
    border: 1px solid #ddd;
}

.review-form-box ul li label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
}

.review-form-box ul li textarea {
    height: 100px;
    resize: none;
}

.review-form-box ul li:last-child {
    grid-column: 1/-1;
}

.review-form-box button {
    border: none;
    font-size: 16px;
    padding: 10px 34px;
    cursor: pointer;
    color: var(--secondary--color);
    background: var(--primary--color);
    transition: all 0.4s ease-in-out;
}

.review-form-box button:hover {
    background: transparent;
    color: var(--secondary--color);
    background-color: var(--black--color);
}

.review-form-box ul li input:focus,
.review-form-box ul li textarea:focus {
    border-color: var(--primary--color);
}

.shipping-policy-con h5 {
    margin-bottom: 20px;
    color: var(--black--color);
}

.shipping-policy-con ul li {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 20px;
}

.shipping-policy-con ul {
    margin-bottom: 30px;
    padding-left: 17px;
}

.product-detail-info-box .tab-pane p:last-child {
    margin-bottom: 0;
}

.size-chart-con h5 {
    margin-bottom: 30px;
    color: var(--black--color);
}

.product-detail-content .social-icon ul li a i:hover {
    color: var(--secondary--color);
    background: var(--black--color);
}

.product-arrow a:hover i {
    color: var(--primary--color);
}

.checkout-form-box {
    padding: 44px 30px;
    margin-bottom: 24px;
    border: 1px solid rgb(26 24 25 / 15%);
    background: #fff;
    width: 100%;
    float: left;
}

.check-out-form .form-group {
    margin-bottom: 0;
}

.checkout-section h4 {
    margin-bottom: 20px;
    color: var(--black--color);
}

.check-out-form {
    gap: 30px;
    display: grid;
    grid-template-columns: 47.8% 47.8%;
}

.check-out-form .special {
    grid-column: 1/-1;
}

.check-out-form .form-group label {
    font-size: 17px;
    font-weight: 500;
    line-height: 17px;
    margin-bottom: 12px;
    position: relative;
    text-transform: capitalize;
    color: var(--black--color);
}

.check-out-form .form-group input:not([type="checkbox"]) {
    width: 100%;
    font-size: 16px;
    line-height: 16px;
    border-radius: 0;
    padding: 14px 20px;
    color: var(--text-color);
    border: 1px solid rgb(26 24 25 / 15%);
}

.order-summary-box,
.payment-info {
    padding: 30px;
    background: var(--secondary--color);
    border: 1px solid rgb(26 24 25 / 15%);
}

.order-summary-box {
    margin-bottom: 24px;
}

.checkout-section .preview-box .product-outer {
    padding: 0 0 20px;
    border-bottom: 1px solid rgb(26 24 25 / 15%);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout-section .preview-box .product-outer .product-outer-details {
    display: flex;
    width: 215px;
    font-size: 14px;
    gap: 10px;
    line-height: 20px;
    align-items: center;
}

.review-form-box ul li input:focus,
.review-form-box ul li textarea:focus {
    outline: none;
}

.check-out-form .form-group input:not([type="checkbox"]):focus,
.review-form-box ul li input:focus,
.review-form-box ul li textarea:focus {
    box-shadow: inset 0 1px 1px rgb(255 99 100 / 8%), 0 0 8px rgb(255 99 100 / 60%);
    border-color: var(--primary--color);
}

.product-outer-details figure img {
    width: 95px;
}

.checkout-section .preview-box .product-outer span {
    font-size: 18px;
    line-height: 20px;
    display: inline-block;
    color: var(--black--color);
}

.checkout-section .preview-box .shipping-outer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout-section .preview-box .shipping-outer .shipping {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: var(--black--color);
}

.checkout-section .preview-box .shipping-outer .price {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: var(--primary--color);
}

.payment-info p {
    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px solid rgb(26 24 25 / 15%);
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.payment-info ul li {
    padding: 2px 0 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid rgb(26 24 25 / 15%);
}

.payment-info ul li [type="radio"]:checked,
.payment-info ul li [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.payment-info ul li [type="radio"]:checked+label,
.payment-info ul li [type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
    margin-bottom: 0;
}

.payment-info ul li [type="radio"]:checked+label:before,
.payment-info ul li [type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid var(--black--color);
    border-radius: 100%;
    background: #fff;
}

.payment-info ul li [type="radio"]:checked+label:after,
.payment-info ul li [type="radio"]:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: var(--primary--color);
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.payment-info ul li [type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.payment-info ul li [type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.payment-info ul li:last-child label {
    position: relative;
    cursor: pointer;
}

.payment-info ul li:last-child label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid var(--primary--color);
    padding: 6px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 11px;
}

.payment-info ul li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.btn-outer button {
    border: none;
    padding: 16px 28px;
    display: inline-block;
    background: var(--accent);
    color: var(--secondary--color);
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
}

.btn-outer button:hover {
    background: var(--primary--color);
}

.payment-info ul li label {
    font-size: 16px;
    line-height: 16px;
}

.billing-box label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid rgb(255 99 100 / 100%);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    top: -2px;
}

.billing-box input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid var(--black--color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

#billing {
    display: none;
}

.cart-section .group:before,
.cart-section .shopping-cart:before,
.cart-section .column-labels:before,
.cart-section .product:before,
.cart-section .totals-item:before,
.cart-section .group:after,
.cart-section .shopping-cart:after,
.cart-section .column-labels:after,
.cart-section .product:after,
.cart-section .totals-item:after {
    content: '';
    display: table;
}

.cart-section .group,
.cart-section .shopping-cart,
.cart-section .column-labels,
.cart-section .product,
.cart-section .totals-item {
    zoom: 1;
}

.size-chart-con table tr td {
    font-size: 18px;
}

.product-detail-tab .nav-pills .nav-link:last-child {
    margin-bottom: 0;
}

.cart-section .black-btn a {
    padding: 14px 22px !important;
    min-width: 100%;
}

.payment-info .pink-btn {
    margin-top: 10px;
}

.product-detail-content h2 {
    color: var(--black--color);
}

.shop-con h2 {
    color: var(--black--color);
    line-height: 60px;
    margin-bottom: 25px;
}

.shop-con .products-box {
    padding: 45px 30px;
    margin-bottom: 0;
}

.shop-con .products-box .trendy-img img {
    margin-bottom: 0;
}

.shop-sec-sub-con .sidebar .post-thumbnail-entry>img.trending-stars {
    width: auto;
    height: auto;
    margin: 0;
}

.shop-sec-sub-con .sidebar .post-thumbnail-entry .post-thumbnail-content span.treding-item-heading {
    font-size: 16px;
    font-weight: 600;
    color: var(--black--color);
}

.shop-sec-sub-con .sidebar>h4,
.sidebar .widget-title {
    font-size: 24px;
    font-weight: 600;
    color: var(--black--color);
    text-transform: unset;
    font-family: "Jost", sans-serif;
}

.shop-sec-sub-con .sidebar .post-thumbnail-entry .post-thumbnail-content span.cut-price {
    font-size: 16px;
    color: #b2b3b4;
    text-decoration: line-through;
    padding-right: 6px;
}

.shop-sec-sub-con .sidebar .post-thumbnail-entry .post-thumbnail-content span.green-text {
    font-size: 16px;
    font-weight: 600;
}

.shop-sec-sub-con .sidebar .post-thumbnail-entry {
    border-bottom: none;
}

.shop-sec-sub-con .products-box {
    padding: 38px 18px 38px;
    margin-bottom: 30px;
    min-height: auto;
    text-align: center;
}

.shop-sec-sub-con .products-box .trendy-img img {
    margin-bottom: 0;
}

.shop-sec-sub-con .sidebar .widget {
    padding: 25px 15px;
    margin-bottom: 15px;
}

.shop-sec-sub-con .sidebar .widget.widget-newsletter {
    border: none;
    padding: 0;
}

.shop-sec-sub-con .sidebar .widget.widget-newsletter .form-control {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
}

.shop-sec-sub-con .sidebar .widget-categories ul li:before {
    position: absolute;
    content: "";
    background-color: var(--bg-color);
    width: 18px;
    height: 18px;
    border-radius: 100px;
    top: 12px;
}

.shop-sec-sub-con .sidebar .widget-categories ul li {
    border-bottom: none;
    padding-bottom: 0;
    font-family: "Nunito", sans-serif;
    padding: 0 0 0 33px;
    margin-bottom: 0;
    line-height: 34px;
}

.shop-sec-sub-con .sidebar .widget-categories ul li a {
    font-size: 17px;
}

.shop-sec-sub-con .sidebar .widget-categories {
    padding: 30px 25px 15px;
}

.shop-sec-sub-con .sidebar .widget-title,
.shop-sec-sub-con .sidebar>h4 {
    margin-bottom: 15px;
}

/* Filter styling */
.filter-price {
    width: 220px;
    border: 0;
    padding: 0;
    margin: 0;
}

.price-title {
    position: relative;
    color: var(--primary--color);
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 400;
}

.price-field {
    position: relative;
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    background: var(--primary--color);
    padding-top: 15px;
    padding-left: 16px;
    border-radius: 0;
    margin-bottom: 10px;
}

.price-field input[type=range] {
    position: absolute;
}

/* Reset style for input range */

.price-field input[type=range] {
    width: 188px;
    height: 4px;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    border-radius: 0;
    pointer-events: none;
    -webkit-appearance: none;
}

.price-field input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.price-field input[type=range]:active,
.price-field input[type=range]:focus {
    outline: 0;
}

.price-field input[type=range]::-ms-track {
    width: 188px;
    height: 4px;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    border-radius: 0;
    pointer-events: none;
    background: transparent;
    border-color: transparent;
    color: transparent;
    border-radius: 5px;
}

/* Style toddler input range */

.price-field input[type=range]::-webkit-slider-thumb {
    /* WebKit/Blink */
    position: relative;
    -webkit-appearance: none;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 0;
    height: 10px;
    width: 10px;
    margin-top: -4px;
    background-color: var(--product-bg-color);
    cursor: pointer;
    cursor: pointer;
    pointer-events: all;
    z-index: 100;
}

.price-field input[type=range]::-moz-range-thumb {
    /* Firefox */
    position: relative;
    appearance: none;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 0;
    height: 10px;
    width: 10px;
    margin-top: -5px;
    background-color: var(--product-bg-color);
    cursor: pointer;
    cursor: pointer;
    pointer-events: all;
    z-index: 100;
}

.price-field input[type=range]::-ms-thumb {
    /* IE */
    position: relative;
    appearance: none;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-top: -5px;
    background-color: var(--product-bg-color);
    cursor: pointer;
    cursor: pointer;
    pointer-events: all;
    z-index: 100;
}

/* Style track input range */

.price-field input[type=range]::-webkit-slider-runnable-track {
    /* WebKit/Blink */
    width: 188px;
    height: 2px;
    cursor: pointer;
    background: var(--product-bg-color);
    border-radius: 5px;
}

.price-field input[type=range]::-moz-range-track {
    /* Firefox */
    width: 188px;
    height: 2px;
    cursor: pointer;
    background: var(--product-bg-color);
    border-radius: 5px;
}

.price-field input[type=range]::-ms-track {
    /* IE */
    width: 188px;
    height: 2px;
    cursor: pointer;
    background: var(--product-bg-color);
    border-radius: 5px;
}

/* Style for input value block */

.price-wrap {
    display: flex;
    justify-content: right;
    color: var(--black--color);
    font-size: 14px;
    line-height: 1.2em;
    font-weight: 400;
    margin-bottom: 7px;
}

.price-wrap-1,
.price-wrap-2 {
    display: flex;
}

.price-title {
    margin-right: 50px;
}

.price-wrap_line {
    margin: 0 10px;
}

.price-wrap #one,
.price-wrap #two {
    width: 30px;
    text-align: right;
    margin: 0;
    padding: 0;
    margin-right: 2px;
    background: 0;
    border: 0;
    outline: 0;
    color: var(--black--color);
    font-family: 'Karla', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 400;
}

.price-wrap label {
    text-align: right;
    margin: 0;
}

/* Style for active state input */

.price-field input[type=range]:hover::-webkit-slider-thumb {
    box-shadow: 0 0 0 0.5px #fff;
    transition-duration: 0.3s;
}

.price-field input[type=range]:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 0.5px #fff;
    transition-duration: 0.3s;
}

.shop-products-con ul.pagination li.page-item a {
    border-radius: 100px;
    height: 45px;
    width: 45px;
    line-height: 45px !important;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    background-color: var(--bg-color);
    color: var(--black--color);
    border: none;
}

.shop-products-con ul.pagination {
    text-align: center;
    margin: 14px auto 0;
}

.shop-products-con ul.pagination li.page-item {
    margin: 0 8px;
    cursor: pointer;
}

.shop-products-con ul.pagination li.page-item.disabled a,
.shop-products-con ul.pagination li.page-item.next a {
    background-color: var(--black--color);
    font-size: 18px;


}

.shop-products-con ul.pagination li.page-item.disabled a i,
.shop-products-con ul.pagination li.page-item.next a i {
    color: var(--secondary--color);
    font-size: 18px;
}

.shop-products-con .pagination .page-item:not(.disabled)>.page-link {
    border: none;
    background-color: var(--bg-color);
}

.shop-products-con ul.pagination li.page-item.next a.page-link {
    background-color: var(--black--color);
}

.shop-products-con ul.pagination li.page-item a:hover,
.shop-products-con .pagination .page-item:not(.disabled)>.page-link:hover {
    background-color: var(--primary--color);
    color: var(--secondary--color);
}

.shop-sec-sub-con .sidebar .widget.disocunt-bar {
    background: var(--bg-color);
    padding: 35px 0 0 0;
    height: 494px;
    border: none;
    margin-bottom: 0;
}

.shop-sec-sub-con .sidebar .widget.disocunt-bar img {
    bottom: 0;
    margin: auto;
    right: 0;
    left: 0;
}

.shop-sec-sub-con .sidebar .widget.disocunt-bar span {
    font-size: 35px;
    font-weight: 500;
    color: var(--primary--color);
    margin-bottom: 12px;
}

.shop-sec-sub-con .sidebar .widget.disocunt-bar p {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 12px;
    letter-spacing: -0.2px;
}

.default-sorting-con {
    margin-bottom: 20px;
}

.default-sorting-con select.form-control {
    padding: 8px;
    height: 50px !important;
    font-family: "Nunito", sans-serif;
}

.review-form-box button:focus {
    outline: none;
}

/* Product detail banner section stlying */
.product-detail-banner-outer .product-detail-outer {
    display: unset;
    padding-bottom: 0;
    border-bottom: none;

}

.product-detail-banner-outer .product-detail-tab {
    padding: 0;
    border: none;
}

.product-detail-banner-outer .product-detail-tab .nav-pills .nav-link figure img {
    width: 56px;
    background: transparent;
    background-color: transparent;
    height: 100%;
}

.product-detail-banner-outer .product-detail-tab .nav-pills .nav-link figure {
    text-align: center;
    margin: 0 auto;
    /* display: inline-block; */
}

.product-detail-banner-outer .product-detail-tab .nav-pills .nav-link {
    border: 1px solid var(--secondary--color);
    background-color: var(--secondary--color);
    border-radius: 100px;
    width: 80px;
    height: 80px;
    padding-top: 12px;
}

.product-detail-banner-outer .product-detail-tab .nav-pills .nav-link.active {
    border: 1px solid var(--black--color);
}


.product-detail-banner-outer .product-detail-tab .nav-pills .nav-link figure img {
    height: 60px;
}

.product-detail-banner-outer .product-detail-tab div#v-pills-tabContent figure {
    text-align: center;
}

.product-detail-banner-outer .product-detail-tab #v-pills-tab {
    width: auto;
}

.product-detail-tab #v-pills-tabContent {
    width: auto;
}

.product-detail-banner-outer .detail-content-con {
    margin-bottom: 20px;
}

.product-detail-banner-outer .detail-content-con span {
    font-size: 16px;
    margin-left: 12px;
    color: var(--black--color);
    font-family: "Nunito", sans-serif;
    /* letter-spacing: -0.2px; */

}

.product-detail-banner-outer .stock-price {
    font-family: "Nunito", sans-serif;
    border-bottom: none;
    margin: 29px 0 38px;
    padding: 0;
}

.product-detail-banner-outer .number {
    font-size: 25px;
    line-height: 32px;
    padding: 1px 28px;
    font-weight: 500;
}

.product-detail-banner-outer .quantity-field {
    display: flex;
    padding: 12px 16px;
    width: 160px;
    height: 58px;
    background-color: #fff;
    border: none;
    justify-content: center;
}

.product-detail-banner-outer .quantity-field button {
    background: transparent;
    border: none;
    font-size: 25px;
    line-height: 24px;
    border-radius: 100px;
    width: 32px;
    height: 32px;
    background-color: var(--primary--color);
    color: var(--secondary--color);
    flex-shrink: 0;
    cursor: pointer;
}

.product-detail-banner-outer .quantity-field button:hover {
    background-color: var(--black--color);
}

.product-detail-banner-outer .quatity_button_wrapper {
    margin-bottom: 40px;
}

.product-detail-banner-outer .social-icon li {
    margin: 0 7px;
}

.product-detail-banner-outer .social-icon li a i {
    color: var(--primary--color);
    font-size: 16px;
}

.product-detail-banner-outer .social-icon li a i:hover {
    color: var(--black--color);
}

/***************Responsive************************/
@media only screen and (max-width: 1440px) {
    .shop-pages-banner {
        padding: 177px 0 115px;
    }

    .cart-total-box,
    .shopping-cart {
        padding: 38px 30px;
    }

    .product-detail-tab {
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .product-detail-info-box .tab-pane>figure img {
        width: 100%;
    }

    .product-detail-banner-outer .stock-price {
        margin: 26px 0 26px;
        padding: 0;
    }

    .product-detail-banner-outer .quatity_button_wrapper {
        margin-bottom: 30px;
    }

    .product-detail-banner-outer .product-detail-tab .nav-pills .nav-link {
        width: 70px;
        height: 70px;
        padding-top: 5px;
    }
}

@media only screen and (max-width: 1199px) {
    .shop-pages-banner {
        padding: 167px 0 105px;
    }

    .shop-box {
        grid-template-columns: 22.6% 22.6% 22.6% 22.6%;
    }

    .shop-box-img {
        margin-bottom: 10px;
    }

    .shop-box-img .generic-btn a {
        padding: 12px 8px;
        font-size: 14px;
        line-height: 14px;
    }

    .cart-total-box,
    .shopping-cart {
        padding: 34px 20px;
    }

    .cart-section .product .product-image img {
        width: 76px;
    }

    .cart-section .product .product-details .product-title {
        margin-right: 30px;
        font-size: 14px;
        line-height: 20px;
    }

    .cart-total-box .generic-btn a {
        font-size: 14px;
        line-height: 14px;
        padding: 18px 12px;
    }

    .cart-box {
        gap: 23px;
    }

    .total-price {
        font-size: 18px;
        line-height: 18px;
        font-weight: 500;
    }

    .product-detail-outer {
        gap: 23px;
    }

    .product-detail-content h4 {
        margin-bottom: 10px;
        line-height: 28px;
        padding-right: 10px;
    }

    .stock-label {
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 16px;
    }

    .stock-price {
        margin-bottom: 10px;
        padding-bottom: 12px;
    }

    .product-detail-content p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 24px;
    }

    .product-detail-content .number {
        padding: 0 20px;
    }

    .product-detail {
        padding: 100px 0;
    }

    .product-detail-info-box #pills-tab {
        gap: 30px;
        margin-bottom: 25px;
    }

    .product-detail-info-box .tab-pane p {
        font-size: 16px;
        line-height: 24px;
    }

    .review-form-box ul {
        gap: 23px;
    }

    .product-detail-info-box .tab-pane p {
        margin-bottom: 22px;
    }

    h5 {
        font-size: 20px;
    }

    .review-client-box>figure {
        width: 40%;
    }

    .checkout-form-box {
        padding: 30px 30px;
    }

    .order-summary-box,
    .payment-info {
        padding: 22px;
    }

    .checkout-form-box {
        padding: 22px;
    }

    .check-out-form .form-group input:not([type="checkbox"]) {
        padding: 10px 20px;
    }

    .btn-outer button {
        padding: 14px 28px;
    }

    .checkout-section .preview-box .product-outer {
        padding: 0 0 13px;
        margin-bottom: 12px;
    }

    .check-out-form {
        grid-template-columns: 47.2% 47.2%;
    }

    .product-outer-details figure img {
        width: 60px;
    }

    .checkout-section .preview-box .product-outer .product-outer-details {
        width: 178px;
        gap: 5px;
    }

    .payment-info p {
        padding-bottom: 12px;
        margin-bottom: 12px;
    }

    .product-detail-tab #v-pills-tab {
        margin-right: 20px;
    }

    .product-detail-tab div#v-pills-tabContent figure img {
        height: 428px;
    }

    /* .product-detail-tab .nav-pills .nav-link figure img {
        width: 172px;
    } */

    .product-detail-tab .nav-pills .nav-link figure img {
        width: auto;
        height: 75px;
    }

    .shop-sec-sub-con .products-box h4 {
        font-size: 22px;
    }

    .shop-sec-sub-con .products-box .trendy-img {
        min-height: 200px;
    }

    .price-field input[type=range] {
        width: 82%;
    }

    .filter-price {
        width: 100%;
    }

    .price-title {
        margin-right: 7px;
    }

    .products-box .favorite {
        right: 15px;
        top: 17px;
    }

    .products-box .favorite i {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .cart-section .black-btn a {
        padding: 14px 16px !important;
        font-size: 14px;
    }

    .stock-price {
        font-size: 27px;
        line-height: 27px;
    }

    .stock-price span {
        padding-right: 6px;
        font-size: 22px;
    }

    .check-out-form {
        gap: 20px 30px;
    }

    .checkout-section .preview-box .product-outer span {
        font-size: 16px;
        line-height: 18px;
    }

    /* product page styling */
    .shop-sec-sub-con .sidebar .widget.disocunt-bar {
        padding: 25px 0 0 0;
        height: 435px;
    }

    .product-detail-banner-outer .stock-price {
        margin: 16px 0;
    }

    .product-detail-banner-outer .quantity-field button {
        font-size: 20px;
        line-height: 27px;
        border-radius: 100px;
        width: 27px;
        height: 27px;
    }

    .product-detail-banner-outer .number {
        font-size: 18px;
        line-height: 25px;
        padding: 0 20px;
    }

    .product-detail-banner-outer .quantity-field {
        padding: 12px 13px;
        width: 146px;
        height: 58px;
    }

    .check-out-form .form-group.billing-box label {
        font-size: 15px;
    }

}

@media only screen and (max-width: 991px) {
    .shop-pages-banner {
        padding: 157px 0 95px;
    }

    .shop-box {
        gap: 21px;
    }

    #sidebar-cart .generic-btn a {
        padding: 14px 26px 16px;
    }

    .cart-box {
        gap: 30px;
        grid-template-columns: 100%;
    }

    .product-detail-outer {
        gap: 30px;
        grid-template-columns: 100%;
    }

    .stock-price {
        font-size: 21px;
        line-height: 18px;
    }

    .product-detail-outer {
        padding-bottom: 70px;
    }

    .product-detail {
        padding: 70px 0;
    }

    /* .product-detail-info-box {
        padding: 40px;
    } */

    .product-detail-info-box #pills-tab {
        margin-bottom: 20px;
    }

    .shipping-policy-con h5 {
        margin-bottom: 20px;
    }

    .shipping-policy-con ul li {
        font-size: 14px;
        line-height: 13px;
        margin-bottom: 18px;
    }

    .shipping-policy-con ul {
        margin-bottom: 20px;
    }

    .product-detail-info-box .tab-pane p {
        margin-bottom: 12px;
    }

    .size-chart-con h5 {
        margin-bottom: 20px;
    }

    h5 {
        font-size: 18px;
    }

    .review-client-box>figure {
        width: 60%;
    }

    .check-out-form .form-group input:not([type="checkbox"]) {
        padding: 8px 20px;
    }

    .check-out-form {
        gap: 22px;
    }

    .checkout-section h4 {
        margin-bottom: 20px;
    }

    .checkout-section .preview-box .product-outer .product-outer-details {
        width: 378px;
    }

    .product-detail-tab .nav-pills .nav-link figure img {
        width: auto;
    }

    .checkout-section .preview-box .product-outer {
        padding: 0 0 15px;
        margin-bottom: 15px;
    }

    .price-field input[type=range] {
        width: 95%;
    }

    .price-title {
        margin-right: 7px;
        float: left;
        width: 80%;
    }

    .product-detail-info-box .nav-pills .nav-link {

        font-size: 18px;
        line-height: 18px;
    }

    .size-chart-con table tr td {
        font-size: 16px;
    }

    .check-out-form .form-group label {
        font-size: 16px;
        line-height: 16px;
    }

    .check-out-form {
        gap: 15px 22px;
    }

    .checkout-section .preview-box .product-outer .product-outer-details {
        gap: 10px;
    }

    /* products page styling */
    .shop-sec-sub-con.blog-tabs-section .sidebar {
        margin-top: 0;
    }

    .shop-sec-sub-con .sidebar .widget.disocunt-bar {
        display: none;
    }

    .shop-products-con .featured-product-box {
        height: 195px;
    }

    .shop-products-con ul.pagination {
        margin: 0 auto 0;
    }

    .stock-price span {
        padding-right: 6px;
        font-size: 18px;
    }

    .product-detail-banner-outer .detail-content-con {
        margin-bottom: 9px;
    }

    .product-detail-banner-outer .quantity-field {
        padding: 10px 0;
        width: 140px;
        height: 50px;
    }

    .review-form-box ul {
        gap: 15px;
    }
}

@media only screen and (max-width: 767px) {
    .shop-pages-banner {
        padding: 147px 0 85px;
    }

    .shop-pages-banner {
        padding: 137px 0 75px;
    }

    .shop-box {
        grid-template-columns: 31% 31% 31%;
    }

    .shop-price {
        font-size: 14px;
        line-height: 14px;
    }

    .cart-section .column-labels {
        display: none;
    }

    .cart-section .product .product-details .product-title {
        margin-right: 20px;
    }

    .cart-section .product-price {
        width: 16%;
    }

    .cart-section .product-details {
        width: 33%;
    }

    .cart-section .product .product-image img {
        width: 58px;
    }

    .nav-link figure img {
        width: 326px;
    }

    .product-detail-content p {
        margin-bottom: 14px;
    }

    .product-detail-content .number {
        padding: 0 14px;
    }

    .product-detail-content .quatity_button_wrapper a {
        font-size: 14px;
        line-height: 14px;
        padding: 14px 24px;
    }

    .product-detail-outer {
        padding-bottom: 60px;
    }

    .product-detail {
        padding: 60px 0;
    }

    .product-detail-info-box #pills-tab li button {
        font-size: 16px;
        line-height: 16px;
    }

    .product-detail-info-box #pills-tab {
        gap: 18px;
    }

    .product-detail-info-box .tab-pane p {
        font-size: 14px;
        line-height: 22px;
    }

    .product-detail-info-box .tab-pane>figure img {
        margin-bottom: 15px;
    }

    .review-client-box>figure {
        display: none;
    }

    .review-client-content:before {
        display: none;
    }

    .review-title-date .title {
        font-size: 16px;
    }

    .review-form-box ul li label {
        margin-bottom: 3px;
        font-size: 14px;
    }

    .review-form-box ul {
        gap: 12px;
    }

    .review-con {
        padding: 20px 20px;
    }

    .review-form-box ul li textarea {
        height: 80px;
    }

    .review-form-box ul li input,
    .review-form-box ul li textarea {
        padding: 2px 10px;
    }

    .review-form-box ul {
        margin-bottom: 10px;
    }

    .review-form-box button {
        font-size: 14px;
        padding: 6px 24px;

    }

    .product-code {
        font-size: 14px;
    }

    .product-detail-content .quantity-field {
        padding: 13px 20px;
        width: 94px;
    }

    .check-out-form {
        gap: 16px;
    }

    .check-out-form .form-group label {
        font-size: 12px;
        line-height: 12px;
    }

    .product-detail-tab div#v-pills-tabContent figure img {
        height: 390px;
    }

    .product-detail-info-box .nav-pills .nav-link {
        font-size: 16px;
        line-height: 16px;
    }

    .price-field input[type=range] {
        width: 93%;
    }

    .cart-section .product-price {
        float: left;
        width: 20%;
        font-size: 16px;
    }

    .cart-section .product-line-price {
        font-size: 16px;
    }

    .cart-total-box ul li {
        font-size: 16px;
    }

    .total-price {
        font-size: 16px;
        line-height: 18px;

    }

    .product-detail-tab .nav-pills .nav-link figure img {
        width: auto;
        height: 67px;
    }

    .check-out-form .form-group label {
        font-size: 14px;
        line-height: 14px;
    }

    /* product page styling */
    .shop-products-con ul.pagination li.page-item.disabled a i,
    .shop-products-con ul.pagination li.page-item.next a i {
        font-size: 16px;
    }

    .shop-products-con ul.pagination li.page-item a {
        border-radius: 100px;
        height: 35px;
        width: 35px;
        line-height: 35px !important;
    }

    .shop-products-con ul.pagination {
        margin: 20px auto 0;
    }

    /* product details page styling */
    .product-detail-banner-outer .quatity_button_wrapper {
        margin-bottom: 20px;
        display: inline-flex;
    }

    .product-detail-banner-outer .product-detail-tab .nav-pills .nav-link figure img {
        height: 50px;
        width: 44px;
    }

    .product-detail-banner-outer .product-detail-tab .nav-pills .nav-link {
        width: 65px;
        height: 65px;
        padding-top: 9px;
    }

    .check-out-form .form-group.billing-box label {
        font-size: 12px;
        line-height: 14px;
    }

}

@media only screen and (max-width: 575px) {
    .product-qty-details {
        width: 80px;
    }

    .shop-box {
        gap: 14px;
        grid-template-columns: 48% 48%;
    }

    .shop-label {
        font-size: 10px;
        line-height: 10px;
    }

    .shop-box-cart ul li a i {
        width: 25px;
        height: 25px;
        font-size: 10px;
        line-height: 10px;
    }

    .shop-box-img .generic-btn a {
        padding: 12px 8px;
        font-size: 12px;
        line-height: 12px;
    }

    .pagination-con .page-link {
        font-size: 14px;
    }

    #sidebar-cart {
        width: 280px;
    }

    .sidebar-cart-product {
        gap: 15px;
    }

    #sidebar-cart div.totals div.subtotal,
    #sidebar-cart div.totals div.shipping,
    #sidebar-cart div.totals div.tax {
        font-size: 16px;
    }

    .cart-section .product-removal {
        width: 12%;
    }

    .cart-section .product-image {
        float: right;
        position: relative;
        top: -10px;
    }

    .cart-section .product-price {
        width: 65%;
        line-height: 38px;
        padding-left: 12%;
    }

    .cart-section .product-quantity {
        width: 30%;
        justify-content: center;
        margin-top: 10px;
    }

    .cart-section .product-line-price {
        float: right;
        clear: unset;
        width: auto;
        margin-top: 10px;
        font-size: 14px;
        line-height: 30px;
    }

    .cart-section .product .product-line-price:before {
        content: 'Item Total:';
        font-size: 14px;
    }

    .cart-section .product-details {
        width: 73%;
        margin-bottom: 40px;
    }

    /* .product-detail-info-box {
        padding: 20px;
    } */

    .product-detail-info-box #pills-tab li button {
        font-size: 14px;
    }

    .product-detail-info-box #pills-tab {
        gap: 16px;
    }

    .product-detail-info-box #pills-tab li button {
        font-size: 12px;
        line-height: 12px;
    }

    .review-form-box ul {
        grid-template-columns: 100%;
    }

    .product-detail-tab,
    .product-detail-content {
        padding: 20px;
    }

    .product-detail-tab .nav-pills .nav-link figure img {
        width: 100%;
        height: 50px;
        object-fit: cover;
    }

    .product-detail-tab #v-pills-tab {
        width: 20%;
    }

    .product-detail-tab #v-pills-tabContent {
        width: 75%;
    }

    .product-detail-content h4 {
        margin-bottom: 10px;
        line-height: 25px;
    }

    .product-detail-content .quantity-field {
        padding: 13px 20px;
    }

    h5 {
        font-size: 16px;
    }

    .product-detail-outer {
        padding-bottom: 50px;
    }

    .product-detail {
        padding: 50px 0;
    }

    .check-out-form {
        gap: 15px;
        grid-template-columns: 100%;
    }

    .checkout-section .preview-box .product-outer span {
        font-size: 14px;
    }

    .checkout-section .preview-box .product-outer .product-outer-details {
        width: 225px;
    }

    .payment-info ul li {
        padding: 0 0 8px;
        margin-bottom: 8px;
    }

    .size-chart-con table {
        width: 100%;
    }

    .product-detail-tab div#v-pills-tabContent figure img {
        height: 310px;
    }

    .size-chart-con table tr td {
        font-size: 14px;
        padding: 10px;
    }

    .product-detail-info-box .nav-pills .nav-link {
        font-size: 16px;
        line-height: 16px;
    }

    .shop-sec-sub-con .products-box .trendy-img {
        min-height: auto;
    }

    .cart-section .product-image {
        top: 10px;
        right: 7px;
    }

    .cart-section .product-details {
        width: 73%;
        margin-bottom: 0;
    }

    .cart-section .product-price {
        width: 30%;
        line-height: 30px;
        padding-left: 0;
        margin-top: 10px;
    }

    .cart-section .product {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .cart-total-box,
    .shopping-cart {
        padding: 25px 20px;
    }

    .shop-con .products-box {
        padding: 45px 30px;
        margin-bottom: 20px;
    }

    .stock-price span {
        padding-right: 6px;
        font-size: 18px;
    }

    .payment-info ul li label {
        font-size: 15px;
        line-height: 16px;
    }

    /* product page styling */
    .shop-products-con ul.pagination {
        margin: 10px auto 0;
    }

    .price-field {
        padding-left: 12px;
    }

    .product-detail-banner-outer .quantity-field button {
        font-size: 18px;
        line-height: 20px;
        border-radius: 100px;
        width: 20px;
        height: 20px;
    }

    .product-detail-info-box .nav-pills .nav-link.active::before {
        display: none;
    }
}