/*#1 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@font-face {
    font-family: 'tway';
    src: url('../fonts/tway.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
 
/*#2 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'tway', sans-serif;
}
 
/*#3 */
.meterial-icons {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

/*#4 */
.body {
    width: 100%;
    max-width: 450px;
    background: #fff;
    border-radius: 10px;
    padding: 25px;
    padding-bottom: 70px; /* 아래쪽 여백 추가 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; /* 상대적인 위치 설정 */
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow-y: auto;
}

.left {
    flex: 1;
    min-width: 300px; /* 작은 화면을 위한 최소 너비 설정 */
    height: auto; /* 콘텐츠에 따라 높이 조정 */
    padding: 10px;
    background-color: pink;
}

.wrapper .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 15px;
}

.wrapper .nav .current-date {
    font-size: 24px;
    font-weight: 600;
}

.wrapper .nav .meterial-icons {
    width: 35px;
    height: 35px;
    font-size: 15px;
    color: #878787;
}

.wrapper .nav .meterial-icons:hover {
    background-color: #dbd5d5;
    border-radius: 10px;
}


.arrowIcon {
    width: 35px;
    height: 35px;
}


.calendar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

.calendar .weeks li {
    font-weight: 500;
    font-size: 135%;
}

.calendar .days {
    margin-bottom: 20px;
}

.calendar ul li {
    width: calc(100% / 7);
    position: relative;
}

.calendar .days li {
    z-index: 1;
    margin-top: 30px;
    cursor: pointer;
}

.days li.inactiv {
    color: #aaaaaa;
}

.days li.activ {
    color: #ffffff;
}

.days li.selected-range {
    color: #ffffff;
}

.days li:hover {
    color: #ffffff;
}

.calendar .days li::before {
    position: absolute;
    content: '';
    height: 45px;
    width: 45px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
}

.calendar .days li.activ::before {
    position: absolute;
    content: '';
    height: 45px;
    width: 45px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
}

.calendar .days li.selected::before {
    position: absolute;
    content: '';
    height: 45px;
    width: 45px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
}

.calendar .days li.selected-range::before {
    position: absolute;
    content: '';
    height: 45px;
    width: 45px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
}

.days li:hover::before {
    background: #1bbc9b;
}

.days li.activ::before {
    background: #ff8d8d;
}

.calendar > ul.days > li.selected::before {
    background: #1bbc9b;
    border-radius: 50%;
}

.calendar > ul > li.selected-range::before {
    background: #1bbc9cad;
}

.selBtn {
    width: 80px;
    height: 40px;
    background-color: #1bbc9b;
    color: white;
    border-radius: 5px;
    border: none;
    position: absolute; /* 절대적인 위치 설정 */
    bottom: 20px; /* 하단에서의 거리 설정 */
    right: 25px; /* 우측에서의 거리 설정 */
    cursor: pointer;
    font-size: 100%;
}

.delBtn {
    width: 80px;
    height: 40px;
    background-color: #1bbc9b;
    color: white;
    border-radius: 5px;
    border: none;
    position: absolute; /* 절대적인 위치 설정 */
    bottom: 20px; /* 하단에서의 거리 설정 */
    right: 110px; /* 우측에서의 거리 설정 */
    cursor: pointer;
    font-size: 100%;
}

.selBtn:hover {
    background-color: #1d927b;;
}

.delBtn:hover {
    background-color: #1d927b;;
}

.schedule {
    width: auto;
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }

    .left, .right {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .wrapper .nav .current-date {
        font-size: 18px;
    }

    .calendar ul li {
        font-size: 14px;
    }
}