input#que_secret {
	font-family: auto;
	border-radius: 6px; /* 둥근 모서리 반경 설정 (6px로 설정) */
}

.input-group {
	position: relative;
	width: 50%;
}

#togglePassword {
	position: absolute;
	right: 2%;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer; /* 커서 모양 변경 */
	z-index: 10; /* 아이콘이 텍스트 필드 위에 위치하도록 설정 */
}

/* 포커스 상태 - 초록색 테두리 */
input#que_secret:focus {
  border: 1px solid #1ec28b; /* 초록색 테두리 */
  outline: none; /* 기본 포커스 아웃라인 제거 */
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); /* 초록색 그림자 */
}

/* 확인 버튼 스타일 */
.btn-confirm {
  background-color: #1ec28b;
  color: white;
  padding: 7px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* 부드러운 전환 효과 */
}

.btn-confirm:hover{
	background:#148f62;
	transform: scale(1.05); /* 살짝 확대 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 호버 시 그림자 추가 */
}

.btn-cancel {
  background-color: pink;
  color: white;
  padding: 7px 32px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* 부드러운 전환 효과 */
}

.btn-cancel:hover{
	background:#D04578;
	transform: scale(1.05); /* 살짝 확대 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 호버 시 그림자 추가 */
}

.btn-box {
	display: flex;
	float:right;
	width: 81.7%;
}

div.sub-banner-inner-con {
	width: 55% ;
}

/* 반응형 media 사용 */
@media (max-width: 850px){
    .input-group {
    	width: 105%;
    }
    
    #togglePassword {
    	right: 4%;
	}
    
    .btn-box {
    	width: 110%;
	}
}