/* 공지 5개 이하일 때 가운데 정렬 */
.col-lg-6{
	margin-left:302px;
}

/* 공지 6개 이상일 때 왼쪽 정렬 */
.no-margin {
      margin-left: 0 !important;
    }
    
/* 날짜 글씨 왼쪽으로 이동 및 css */
.notice-date {
	font-size: 14px;
	color: white;
	transform: translateX(-5px);
	cursor: default; /* 커서를 기본 포인터로 설정 */
}

.card-header{
	transition: transform 0.3s ease, box-shadow 0.3s ease; /* 부드러운 전환 효과 */
}

.card-header:hover{
	background-color: #148f62;
    border-color: #148f62;
	transform: scale(1.05); /* 살짝 확대 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 호버 시 그림자 추가 */
}

