@charset "UTF-8";

@font-face {
    font-family: 'tway';
    src: url('../fonts/tway_fly.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.selectedLocal {
	color: black;
	font-family: 'tway';
	font-size: 30px;
}

.selectedDiv > div:nth-child(1) {
	margin-bottom: 10px;
}

.selectedCnt {
	color: black;
	font-family: 'tway';
	font-size: 30px;
	display: inline-block;
	margin-bottom: 10px;
}

.deleteAll {
	color: red;
	font-size: 15px;
	display: inline-block;
	float: right;
}

.deleteAll:hover {
	cursor: pointer;
}

.search {
	position: relative;
	width: 100%;
}

.searchBar {
	width: 100%;
	border: 1px solid #bbb;
	border-radius: 8px;
	padding: 10px 12px;
	font-size: 14px;
	font-family: 'tway';
}

.searchPng {
	position : absolute;
	width: 25px;
	top: 10px;
	right: 12px;
	margin: 0;
}

.searchPng:hover {
	cursor: pointer;
}

.scrollBox { 
	/* height: 390px; */
	height:auto;
	overflow: auto;
}

/* 스크롤바의 폭 너비 */
.scrollBox::-webkit-scrollbar {
    width: 10px;  
}

.scrollBox::-webkit-scrollbar-thumb {
    background: rgba(30, 194, 139); /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.scrollBox::-webkit-scrollbar-track {
    background: rgba(30, 194, 139, .1);  /*스크롤바 뒷 배경 색상*/
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.selectedDiv > div:nth-child(1) > div {
	margin-bottom: 10px;
} 

.selectedDiv > div > div > span:nth-child(1) {
	color: black;
}

.divBlock {
    margin-bottom: 20px;
    align-items: center; /* 세로 가운데 정렬 */
    position: relative; /* 필요한 경우 */
}

.location {
    display: flex;
    align-items: center; /* 세로 가운데 정렬 */
}

.thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: inline-block;
}

.contentBox {
    margin-left: 3%;
    width: 100%;
}

.localTitle {
	color: black;
}

.selectBox {
	float: right;
    height: 50px;
    cursor: pointer;
    margin-right: 3%;
}

.selectBox:hover {
	cursor: pointer;
}





.selectedItem {
    margin-bottom: 20px;
    align-items: center; /* 세로 가운데 정렬 */
    position: relative; /* 필요한 경우 */
    border: solid 1px none; /* 테두리 추가 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 은은한 그림자 추가 */
    border-radius: 10px;
    background: #f8f8f8;
}

.selectedLocation {
    display: flex;
    align-items: center; /* 세로 가운데 정렬 */
    padding: 8px;
}

.selectedThumbnail {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: inline-block;
}

.selectedContentBox {
	margin-left: 3%;
    width: 100%;
}

.selectedLocalTitle {
	color: black;
}

.deleteItem {
	float: right;
    height: 25px;
    margin-right: 3%;
}

.deleteItem:hover {
	cursor: pointer;
}

.selectedScrollBox { 
	height: 510px;
	overflow: auto;
}

/* 스크롤바의 폭 너비 */
.selectedScrollBox::-webkit-scrollbar {
    width: 10px;  
}

.selectedScrollBox::-webkit-scrollbar-thumb {
    background: rgba(30, 194, 139); /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.selectedScrollBox::-webkit-scrollbar-track {
    background: rgba(30, 194, 139, .1);  /*스크롤바 뒷 배경 색상*/
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.selectedScrollBox > div > div {
	margin-bottom: 10px;
} 

.selectedScrollBox > div > div > span:nth-child(1) {
	color: black;
}

