@charset "UTF-8";
@font-face {
    font-family: 'tway';
    src: url('../fonts/tway_fly.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.dayBlock {
	margin-bottom: 65px;
}


.dayBlock > div {
	margin-bottom: 30px;
}


.dayBlock > div:nth-child(2) > div, .dayBlock > div:nth-child(2) {
	margin-bottom: 10px;
}


.dayBlock > div > div > span:nth-child(1) {
	color: black;
	font-size: 20px;
	font-weight: bold;
}


.inputData > div > div:nth-child(1) {
	color: black;
	font-size: 18px;
	font-weight: bold;
}


.inputData > div {
	margin-bottom: 10px;
}


.dayBlock > div > div > span {
	font-size: 18px;
	font-family: 'tway';
} 

  
.add-btn {
	width: 100%; 
	background-color: #1ec28b; 
	border: solid 2px #1ec28b; 
	color: white;
	font-family: 'tway';
}


.habtn {
	font-family: 'tway';
	display: inline-block;
	width: 49%;
}


.edit-btn {
	font-family: 'tway';
	float: right;
}


.calendarImg {
	width: 25px;
	height: 25px;
}


#map {
	width: 100%;
	height: 740px;
}


.mapBlock > div:nth-child(1) {
	margin-bottom: 12px;
}