@charset "UTF-8";

@font-face {
    font-family: 'tway';
    src: url('../fonts/tway_fly.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.selectedLocal {
	color: black;
	font-family: 'tway';
	font-size: 20px;
}

.search {
	position: relative;
	width: 100%;
}

.searchBar {
	width: 100%;
	border: 1px solid #bbb;
	border-radius: 8px;
	padding: 10px 12px;
	font-size: 14px;
	font-family: 'tway';
}

.searchPng {
	position : absolute;
	width: 25px;
	top: 10px;
	right: 12px;
	margin: 0;
}

.searchPng:hover {
	cursor: pointer;
}

.scrollBox {
	margin-bottom: 100px;
	height: 100px;
	overflow: auto;
}

.scrollBox > div > div {
	margin-bottom: 10px;
}

.scrollBox > div > div > span:nth-child(1) {
	color: black;
}

.divBlock {
    margin-bottom: 20px;
    display: flex;
    align-items: center; /* 세로 가운데 정렬 */
    justify-content: space-between; /* 좌우 정렬 */
    position: relative; /* 필요한 경우 */
}

.location {
    display: flex;
    align-items: center; /* 세로 가운데 정렬 */
}

.thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px; /* contentBox와 간격 조정 */
}

.contentBox {
    display: inline-block;
    margin-left: 10px; /* thumbnail과 간격 조정 */
}

.localTitle {
	width: 220px;
}

.selectBox {
	float: right;
    height: 50px;
    cursor: pointer;
}


.selectBox:hover {
	cursor: pointer;
}

