/* !improtant 우선순위 높히기 */
.small-read-more {
    padding: 2px 5px !important; /* 내부 여백 */
    line-height: 1.2 !important; /* 줄 높이 */
}

.form-inline {
    display: flex;
    align-items: center;
}

.input-group {
    display: flex;
    align-items: center;
}

.form-control {
    margin-right: 5px; /* 필요에 따라 조정 */
}

.input-group-append {
    display: flex;
    align-items: center;
}

.slider-wrapper {
    position: relative;
}

.slider {
    position: relative;
}

.slider img {
    cursor: pointer; /* 이미지 위에 마우스를 올리면 커서가 포인터로 변함 */
    height: 230px;
    border-radius: 8px; /* 모서리를 둥글게 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* 전환 효과 */
}

.slider img:hover {
    transform: scale(1.05); /* 호버 시 이미지 확대 */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* 호버 시 그림자 강조 */
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.7); /* 더 어두운 배경색 */
    border: 2px solid rgba(255, 255, 255, 0.3); /* 테두리 추가 */
    color: #ffffff;
    padding: 12px;
    cursor: pointer;
    font-size: 24px; /* 더 큰 글자 크기 */
    border-radius: 50%; /* 둥근 버튼 */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* 더 부각된 그림자 */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
    z-index: 1;
    opacity: 0; /* 기본적으로 숨김 */
    visibility: hidden; /* 요소를 화면에서 제거 */
}

.slider-wrapper:hover .slider-button {
    opacity: 1; /* 마우스를 올렸을 때 버튼 보이기 */
    visibility: visible; /* 마우스를 올렸을 때 버튼 보이기 */
}

.slider-button.prev {
    left: 10px;
}

.slider-button.next {
    right: 10px;
}

.slider-button:hover {
    background-color: rgba(0, 0, 0, 0.8); /* 클릭 시 배경색 어두워짐 */
}

.slider-button:active {
    background-color: rgba(0, 0, 0, 0.8); /* 클릭 시 배경색 어두워짐 */
    transform: scale(1); /* 클릭 시 원래 크기로 복원 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* 클릭 시 그림자 복원 */
}



/* 사이드바 title 글자 width 이상 넘어간 글자 숨기기 */
.post-thumbnail-content a{
	overflow : hidden; 
}
/* 사이드바 글자색 변경 */
.sidebar .post-thumbnail-list #sideBarTitleDiv {
	color: #007bff;

}
/* 사이드바 제목, 달력 아이콘 색상 변경 */
.fa-solid {
	color: var(--primary--color);
}
	


/* 새글 등록 버튼 컨테이너를 우측 정렬 */
.button-container {
    text-align: right;
    margin-bottom: 20px; /* 버튼과 다른 요소 간의 간격 */
}

/* 새글 등록 버튼 스타일링 */
.btn-primary {
    display: inline-block;
    padding: 12px 24px; /* 버튼의 패딩을 조절 */
    font-size: 18px; /* 글자 크기를 조절 */
    font-weight: bold;
    color: #ffffff; /* 글자 색상 */
    background-color: #1ec28b; /* 버튼 배경색 */
    border: none;
    border-radius: 6px; /* 버튼의 모서리 둥글게 */
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* 배경색과 크기 변화 효과 */
}

.btn-primary:hover {
    background-color: #148f62; /* 더 어두운 색 */
    transform: scale(1.05); /* 살짝 확대 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 호버 시 그림자 추가 */
}

.btn-primary:focus {
    outline: none; /* 기본 포커스 테두리 제거 */
    box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.5); /* 그림자 추가 */
}

/* 페이지네이션 컨테이너 스타일링 */
.pagination {
    display: block; /* 기본 블록 요소 */
    text-align: center; /* 중앙 정렬 */
    margin: 20px 0; /* 상하 여백 조정 */
}

.pagination a {
    display: inline-block; /* 인라인 블록 요소로 설정 */
    padding: 10px 15px; /* 버튼 크기 조절 */
    margin: 0 5px; /* 버튼 간격 */
    font-size: 16px; /* 글자 크기 */
    color: #ffffff; /* 글자 색상 */
    background-color: #1ec28b; /* 기본 배경색 */
    border-radius: 5px; /* 모서리 둥글게 */
    text-decoration: none; /* 링크 기본 장식 제거 */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* 배경색과 크기 변화 효과 */
}

.pagination a.active {
    font-weight: bold; /* 글자 굵게 */
    background-color: #148f62; /* 활성화된 페이지 링크 색상 */
}

.pagination a:hover {
    background-color: #148f62; /* 호버 시 배경색 */
    transform: scale(1.05); /* 살짝 확대 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 호버 시 그림자 추가 */
}

.pagination a:focus {
    outline: none; /* 기본 포커스 테두리 제거 */
    box-shadow: 0 0 0 3px rgba(30, 194, 139, 0.5); /* 배경색에 맞춘 그림자 */
}

/* 사이드바 위젯 스타일링 */
.widget {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px; /* 모서리 둥글게 */
    background-color: #f9f9f9; /* 배경색 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

.widget-newsletter {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
}

.widget-newsletter .form-control {
    border-radius: 4px;
    border: 1px solid #ccc;
}

.widget-newsletter .btn {
    background-color: #1ec28b;
    border-color: #1ec28b;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.widget-newsletter .btn:hover {
    background-color: #148f62;
    border-color: #148f62;
}

/* 리뷰 박스 크기 조절 */
.blogpage-section .blog-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 박스 그림자 추가 */
    margin-bottom: 20px; /* 박스 간격 조정 */
}

.blogpage-section .blog-box .lower-portion {
    padding: 10px;
    border-top: 1px solid #ddd;
    height: 100px;
}

.blog-box .views, .blog-box .date {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*우측 하단 최상단 올리기 버튼*/
#back-to-top-btn {
    z-index: 9999 !important; /* 다른 요소 위에 보이도록 */
}




