body {
	    font-family: Arial, sans-serif;
	    background-color: #f4f4f9;
	    margin: 0;
	    padding: 20px;
	    color: #333;
	}

	h1 {
	    text-align: center;
	    margin-top: 20px;
	}

	table { 
	    width: 100%;
	    border-collapse: collapse;
	    margin-top: 20px;
	    border: 1px solid #ddd;
	}

	th, td {
	    padding: 10px;
	    text-align: center;
	}

	th {
	    background-color: #f2f2f2;
	    color: #333;
	}

	td {
	    background-color: #fff;
	}

	a {
	    text-decoration: none;
	    color: #0066cc;
	}

	a:hover {
	    text-decoration: underline;
	    color: #0044cc;
	}