/* !improtant 우선순위 높히기 */
.small-read-more {
    padding: 2px 5px !important; /* 내부 여백 */
    line-height: 1.2 !important; /* 줄 높이 */
}

.form-inline {
    display: flex;
    align-items: center;
}

.input-group {
    display: flex;
    align-items: center;
}

.form-control {
    margin-right: 5px; /* 필요에 따라 조정 */
}

.input-group-append {
    display: flex;
    align-items: center;
}