@charset "UTF-8";
body {
        font-family: Arial, sans-serif;
    }
    table {
        width: 70%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: left;
    } 
    th { 
        background-color: #f2f2f2;
        text-align: center;
    }
    td {
        background-color: #fff;
    }
    h1 {
        color: #333;
    }
    .reply-form, .reply-list {
        margin-top: 20px;
    }
    .reply-input, textarea {
        width: 70%;
        height: 60px;
        padding: 8px;
        margin-top: 8px;
    }
    .reply-comment {
        margin-left: 20px;
        margin-top: 10px;
    }
    .reply-form label {
        display: block;
        margin-top: 10px;
    }
    .reply-form input[type="text"], .reply-form textarea {
        width: calc(100% - 22px);
        padding: 10px;
        margin-top: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .reply-form input[type="button"] {
        margin-top: 10px;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .reply-form input[type="button"]:hover {
        background-color: #45a049;
    }
    .action-links a {
        margin-right: 20px;
        text-decoration: none;
        color: #0066cc;
    }
    .action-links a:hover {
        text-decoration: underline;
    }
    
    .like-button, .hate-button{
    	width:34px;
    }
    
   /* 댓글 및 대댓글의 기본 스타일 CSS */
   .comment-content {
       padding: 10px;
       border-bottom: 1px solid #ddd;
   }

   /* 내용과 날짜 위치 변경 */
   .comment-info {
       display: flex;
       justify-content: space-between;
       font-size: 0.9em;
       color: #555;
   }
   
   /* 댓쓴이 글씨체 두껍게 */
   .comment-writer {
       font-weight: bold;
   }
   
   /* 날짜 글씨 색깔 변경 */
   .comment-date {
       color: #999;
   }

   /* 내용과 날짜 위치 변경 */
   .comment-info2 {
       overflow: hidden;
   }
   
   span.comment-text{
   		cursor: pointer;
   }
   
   
   	/* 좋아요 싫어요 버튼 위치 조정 */
   	.reaction-buttons {
	  display: flex;
	  align-items: center; /* 버튼과 텍스트를 세로 중앙 정렬 */
	  gap: 20px; /* 버튼과 텍스트 사이의 간격 조정 */
	}
	
	/* ------------ */

	/* 슬라이드 컨테이너의 크기를 고정 */
	.slick-slider {
	    width: 100%;
	    max-width: 800px; /* 슬라이드의 최대 너비를 설정 */
	    margin: auto; /* 중앙 정렬 */
	}
	
	/* 슬라이드 항목의 크기를 고정 */
	.slick-slide {
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    width: 100%; /* 슬라이드 항목의 가로 너비를 슬라이드 컨테이너의 너비에 맞춤 */
	}
	
	/* 슬라이드 내 이미지와 비디오의 크기 조정 */
	.slick-slide img,
	.slick-slide video {
	    width: 100%; /* 슬라이드 항목의 가로 너비에 맞춤 */
	    height: 300px; /* 원하는 높이로 설정 */
	    object-fit: cover; /* 비율 유지하면서 컨테이너를 채움 */
	}
	
	/* 비디오에만 추가적인 스타일 적용 */
	.slick-slide video {
	    max-width: 100%; /* 비디오의 최대 너비를 슬라이드 항목의 너비에 맞춤 */
	    max-height: 300px; /* 비디오의 최대 높이를 설정 */
	}

	
	

	

   
   