	.form_style {
      /* width: 100%; */
      padding: 10px;
      margin: 5px 0;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
      border: none;
      resize: none;
    }
    
    .form-group {
      margin-bottom: 15px;
    }
    
    .checkbox-container {
      display: flex;
      align-items: center;
    }
    
    .checkbox-container input[type="checkbox"] {
      margin-right: 10px;
    }
    
    #answerContentRow {
      display: none;
    }
    
    .right-margin {
    	margin-left: 15px; /* 필요한 만큼 조절 */
  	}
  
  	.right-margin1 {
    	margin-left: 1px; /* 필요한 만큼 조절 */
  	}
  
  	.short-label {
	  display: inline-block;
	  width: 150px; /* 원하는 너비로 설정 */
	  white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 설정 */
	  overflow: hidden; /* 너비를 넘는 텍스트 숨기기 */
	}
	
	/* wide-input 클래스 추가 */
	/* .wide-input {
	  padding : 19px 135px !important;
	} */
	
	#hidden_que_content_container {
  		margin-top: 149px; /* 원하는 만큼의 공간을 조정 */
	}
	
	.btn-custom {
	  color: white !important;
	  background-color: #1ec28b !important;
	  padding: 7px 28px !important; /* 더 작은 내부 여백 */
	  width: 80px !important; /* 고정된 너비 */
  	  height: 30px !important; /* 고정된 높이 */
  	  cursor: pointer !important;
	}
	
	.btn-delete {
	  font-size: 14px;
	  color: white !important;
	  background-color: #1ec28b !important;
	  padding: 7px 29px !important; /* 더 작은 내부 여백 */
	  width: 80px !important; /* 고정된 너비 */
	  height: 30px !important; /* 고정된 높이 */
	  cursor: pointer !important;
	  text-decoration: none;
	  display: inline-block;
	  white-space: nowrap; /* 텍스트 줄바꿈 제거 */
	  line-height: normal; /* 버튼 높이와 동일하게 설정하여 텍스트 수직 중앙 정렬 */
	  text-align: center; /* 텍스트 중앙 정렬 */
	}
	
	.button-container {
	  display: flex;
	  gap: 10px; /* 버튼 사이의 간격을 조절 */
	  margin-left: 61.5%;
	}
	
	@media (max-width: 850px){
		.quesiton_content {
			margin-top: -102%;
		}
		
		.answer_check {
			margin-top: 90% !important;
	        margin-bottom: 6%;
	        z-index: 10;
		}
		
		#hidden_que_content_container {
    		margin-top: -35px;
    		position: relative;
		}
		
		.button-container {
		   display: flex;
		   gap: 10px;
		   margin-left: 29.5%;
		   margin-top: -48%;
		   z-index: 10;
		}
		
		.hidden-field.show {
		   display: block;
		   margin-top: 10px; /* 원하는 여백 추가 */
		  /* 다른 스타일 조정 가능 */
		}
		
		#question_content.show {
		   margin-top: -209.5%;
		}
		
		#button-container.show {
		   margin-top: -155.8%;
		}
}